<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
  </head>
  <body>
    <h1>SKILLS</h1>
    <table>
      <tr>
        <th>Leguajes de Programacion</th>
        <th>Frameworks</th>
        <th>Bases de Datos</th>
      </tr>
      <tr>
        <td>PHP</td>
        <td>Laravel</td>
        <td>MySql</td>
      </tr>
      <tr>
        <td>JS</td>
        <td>Node</td>
        <td>Mongo</td>
      </tr>
    </table>
  </body>
</html>
